<!DOCTYPE html>
<html>
  <%- include('./shared/css'); %>

  <body>

    <%- include( './shared/header' ); %>

      <div class="sp-content -padding" style="max-width:1564px">

        <%- include( './pages/landing/projects' ); %>

        <%- include( './pages/landing/about' ); %>

        <%- include( './pages/landing/contact' ); %>

      </div>

  </body>

  <%- include( './shared/footer' ); %>

  <%- include('./shared/scripts'); %>

</html>